.movie-title  {
  padding-top: 10px;
  font-weight: bolder;
}

.label {
  font-weight: bolder;
}

.movie-poster {
  padding-left: 90px;
}

 .movie-director {
   padding-bottom: 10px;
 }

 .directorButton{
   padding-left: 0;
 }

 .genreButton{
   padding-left: 0;
 }